* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .navbar header {
  width: 96%;
  position: fixed;
  background-color: white;
  top: 50px;
}

.main .navbar header .hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2px 34px 11px rgba(34, 60, 80, 0.2);
}

.main .navbar header .hover .div {
  padding: 20px 70px;
  display: flex;
  width: 80%;
  align-items: center;
  column-gap: 100px;
}

.main .navbar header .hover .div1 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main .navbar header .hover ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

.main .navbar header .hover ul li a:hover {
  color: #ffb606;
}

.main .navbar header .hover ul li a {
  text-decoration: none;
  color: black;
}

.main .navbar header .hover .div2 {
  background: #ffb606;
  width: 20%;
  height: 83px;
  display: flex;
  column-gap: 20px;
  color: white;
  align-items: center;
  justify-content: center;
}

.main .navbar header .hover i {
  display: none;
}

.main .navbar header .hover .div3 {
  display: none;
}

.main .contact {
  background: url("./img/liberybookroom.jpg");
  height: 60vh;
  background-size: cover;
}

.main .contact .blur {
  background-color: #00000050;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main .contact .blur h1 {
  background-color: #ffb606;
  color: white;
  font-size: 72px;
}

.main .container {
  display: flex;
  padding: 120px 130px;
}

.main .container .left {
  width: 60%;
  height: 100%;
}

.main .container .left h2 {
  margin-bottom: 50px;
}

.main .container .left .inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
}

.main .container .left .inputs input {
  width: 100%;
  background-color: #f8f4f4;
  border: solid 2px transparent;
  padding: 0px 0px 0px 33px;
  height: 42px;
}

.main .container .left .inputs input:nth-child(3) {
  height: 189px;
  padding-bottom: 150px;
}

.main .container .left .inputs button {
  width: 100%;
  padding: 10px;
  background-color: #ffb606;
  color: white;
  border: 1px solid #ffb606;
  cursor: pointer;
}

.main .container .right {
  width: 40%;
  padding: 0px 15px;
}

.main .container .right h1 {
  margin-bottom: 30px;
}

.main .container .right .p {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 60px;
  color: #888;
}

.main .container .right .icon {
  padding: 0px 0px 0px 43px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.main .container .right .icon .d1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.main .container .right .icon .d1 i {
  color: #ffb606;
}

.main .container .right .icon .d1 p {
  color: #888;
}

.main .if {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  width: 100%;
}

.main .if iframe {
  width: 70%;
  height: 450px;
}

/* Responsive */
@media (max-width: 768px) {
  .main .navbar header .hover:hover ul {
    height: 100%;
    display: block;
    position: fixed;
    left: 400px;
    top: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
    width: 50%;
    z-index: 999;
    background-color: white;
  }

  .main .navbar header .hover:hover ul a {
    margin-left: 50px;
  }

  .main .navbar header .hover ul {
    display: none;
  }

  .main .navbar header .hover .div {
    padding: 20px 70px;
    display: flex;
    width: 80%;
    align-items: center;
    column-gap: 100px;
  }

  .main .navbar header .hover .div2 {
    display: none;
  }

  .main .navbar header .hover i {
    display: inline;
    font-size: 25px;
    margin-right: 30px;
  }

  .main .navbar header .hover:hover .div3 {
    display: inline;
    position: fixed;
    top: 700px;
    left: 450px;
    z-index: 999;
  }

  .main .navbar header .hover:hover .div3 i {
    font-size: 20px;
  }

  .main .navbar header .hover:hover .div3 i:hover {
    color: #ffb606;
  }

  .main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 1px;
    margin-bottom: 50px;
  }

  .main .container .left {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  .main .container .right {
    width: 100%;
    padding: 0px 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  .main .if iframe {
    width: 80%;
    height: 350px;
  }

}

@media (max-width: 468px) {
  .main .navbar header .hover:hover ul {
    height: 100%;
    display: block;
    position: fixed;
    left: 1px;
    top: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
    width: 100%;
    z-index: 999;
    background-color: white;
  }

  .main .navbar header .hover:hover ul a {
    margin-left: 50px;
  }

  .main .navbar header .hover ul {
    display: none;
  }

  .main .navbar header .hover .div {
    padding: 20px 40px;
    display: flex;
    width: 80%;
    align-items: center;
    column-gap: 100px;
  }

  .main .navbar header .hover .div2 {
    display: none;
  }

  .main .navbar header .hover i {
    display: inline;
    font-size: 25px;
    margin-right: 30px;
  }

  .main .navbar header .hover:hover .div3 {
    display: inline;
    position: fixed;
    top: 700px;
    left: 50px;
    z-index: 999;
  }

  .main .navbar header .hover:hover .div3 i {
    font-size: 20px;
  }

  .main .navbar header .hover:hover .div3 i:hover {
    color: #ffb606;
  }

  .main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 1px;
    margin-bottom: 50px;
  }

  .main .container .left {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
  }

  .main .container .right {
    width: 100%;
    padding: 0px 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
  }

  .main .if iframe {
    width: 80%;
    height: 250px;
  }
}