* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .navbar header {
    width: 96%;
    position: fixed;
    background-color: white;
    top: 50px;
}

.main .navbar header .hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 34px 11px rgba(34, 60, 80, 0.2);
}

.main .navbar header .hover .div {
    padding: 20px 70px;
    display: flex;
    width: 80%;
    align-items: center;
    column-gap: 100px;
}

.main .navbar header .hover .div1 {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main .navbar header .hover ul {
    display: flex;
    list-style: none;
    column-gap: 40px;
}

.main .navbar header .hover ul li a:hover {
    color: #ffb606;
}

.main .navbar header .hover ul li a {
    text-decoration: none;
    color: black;
}

.main .navbar header .hover .div2 {
    background: #ffb606;
    width: 20%;
    height: 83px;
    display: flex;
    column-gap: 20px;
    color: white;
    align-items: center;
    justify-content: center;
}

.main .navbar header .hover i {
    display: none;
}

.main .navbar header .hover .div3 {
    display: none;
}

.main .library {
    background: url("./img/library.jpeg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.main .library .blur {
    background-color: #00000050;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .library .blur .div4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    align-items: center;
    color: white;
}

.main .library .blur .div4 p {
    width: 35px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: black;
    cursor: pointer;
}

.main .library .blur .div4 h1 a {
    text-decoration: none;
    color: white;
    background-color: #ffb606;
    padding: 5px;
}

.main .library .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}

.main .library .container .div5 {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.main .library .container .div5 .box1 {
    background-color: black;
    color: white;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main .library .container .div5 .box1 i {
    color: #ffb606;
    font-size: 40px;
}

.main .library .container .div5 .box2 {
    background-color: black;
    color: white;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main .library .container .div5 .box2 i {
    color: #ffb606;
    font-size: 40px;
}

.main .library .container .div5 .box3 {
    background-color: black;
    color: white;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.main .library .container .div5 .box3 i {
    color: #ffb606;
    font-size: 40px;
}

.main .library .container .div5 .div6 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main .library .container .box1:hover {
    background-color: #ffb606;
    cursor: pointer;
}

.main .library .container .box1:hover i {
    color: white;
}

.main .library .container .box2:hover {
    background-color: #ffb606;
    cursor: pointer;
}

.main .library .container .box2:hover i {
    color: white;
}

.main .library .container .box3:hover {
    background-color: #ffb606;
    cursor: pointer;
}

.main .library .container .box3:hover i {
    color: white;
}


.main .courses .div7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main .courses .div8 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.main .courses .div9 {
    background-color: #ffb606;
    width: 60px;
    height: 5px;
}

.main .courses .div10 {
    height: 70%;
    column-gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.main .courses .div10 .box1 {
    width: 34%;
    background-color: #e8ebec;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.main .courses .div10 .box1 img {
    width: 100%;
    height: 60%;
}

.main .courses .div10 .box1 .div11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.main .courses .div10 .box1 .div11 h2:hover {
    color: #888;
    cursor: pointer;
}

.main .courses .div10 .box1 .div12 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.main .courses .div10 .box1 .div13 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    column-gap: 20px;
    background-color: #f8f9fb;
}

.main .courses .div10 .box1 .div13 img {
    width: 10%;
    border-radius: 50%;
}

.main .courses .div10 .box1 .div13 b {
    display: flex;
}

.main .courses .div10 .box1 .div13 b p {
    color: #888;
}

.main .courses .div10 .box1 .div12 a {
    width: 20%;
    height: 100%;
    background-color: #ffb606;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


@media(max-width: 768px) {

    .main .navbar header .hover:hover ul {
        height: 100%;
        display: block;
        position: fixed;
        left: 400px;
        top: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
        width: 50%;
        z-index: 999;
        background-color: white;
    }

    .main .navbar header .hover:hover ul a {
        margin-left: 50px;
    }

    .main .navbar header .hover ul {
        display: none;
    }

    .main .navbar header .hover .div {
        padding: 20px 70px;
        display: flex;
        width: 80%;
        align-items: center;
        column-gap: 100px;
    }

    .main .navbar header .hover .div2 {
        display: none;
    }

    .main .navbar header .hover i {
        display: inline;
        font-size: 25px;
        margin-right: 30px;
    }

    .main .navbar header .hover:hover .div3 {
        display: inline;
        position: fixed;
        top: 700px;
        left: 450px;
        z-index: 999;
    }

    .main .navbar header .hover:hover .div3 i {
        font-size: 20px;
    }

    .main .navbar header .hover:hover .div3 i:hover {
        color: #ffb606;
    }

    .main .library {
        background: url("./img/library.jpeg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main .library .blur {
        background-color: #00000050;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main .library .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
    }

    .main .library .container .div5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .main .library .container .div5 .box1 {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: 80%;
    }

    .main .library .container .div5 .box2 {
        width: 80%;
        background-color: black;
        color: white;
        padding: 40px 60px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .main .library .container .div5 .box3 {
        width: 80%;
        background-color: black;
        color: white;
        padding: 40px 60px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .main .library .container .box1:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box1:hover i {
        color: white;
    }

    .main .library .container .box2:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box2:hover i {
        color: white;
    }

    .main .library .container .box3:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box3:hover i {
        color: white;
    }

    .main .library .blur .div4 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 50px;
        align-items: center;
        color: white;
    }

    .main .library .blur .div4 p {
        width: 35px;
        height: 35px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: black;
        cursor: pointer;
    }

    .main .library .blur .div4 h1 a {
        text-decoration: none;
        color: white;
        background-color: #ffb606;
        padding: 5px;
    }


    .main .courses {
        margin-top: 600px;
    }

    .main .courses .div7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .main .courses .div8 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .main .courses .div9 {
        background-color: #ffb606;
        width: 60px;
        height: 5px;
    }

    .main .courses .div10 {
        height: 70%;
        column-gap: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .main .courses .div10 .box1 {
        width: 80%;
        background-color: #e8ebec;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 100px;
    }

    .main .courses .div10 .box1 img {
        width: 100%;
        height: 60%;
    }

    .main .courses .div10 .box1 .div11 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
    }

    .main .courses .div10 .box1 .div12 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffb606;
    }

    .main .courses .div10 .box1 .div13 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
        align-items: center;
        column-gap: 20px;
        background-color: #f8f9fb;
    }

    .main .courses .div10 .box1 .div13 img {
        width: 10%;
        border-radius: 50%;
    }

    .main .courses .div10 .box1 .div13 b {
        display: flex;
    }

    .main .courses .div10 .box1 .div13 b p {
        color: #888;
    }

    .main .courses .div10 .box1 .div12 a {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 468px) {
    .main .navbar header .hover:hover ul {
        height: 100%;
        display: block;
        position: fixed;
        left: 1px;
        top: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
        width: 100%;
        z-index: 999;
        background-color: white;
    }

    .main .navbar header .hover:hover ul a {
        margin-left: 50px;
    }

    .main .navbar header .hover ul {
        display: none;
    }

    .main .navbar header .hover .div {
        padding: 20px 40px;
        display: flex;
        width: 80%;
        align-items: center;
        column-gap: 100px;
    }

    .main .navbar header .hover .div2 {
        display: none;
    }

    .main .navbar header .hover i {
        display: inline;
        font-size: 25px;
        margin-right: 30px;
    }

    .main .navbar header .hover:hover .div3 {
        display: inline;
        position: fixed;
        top: 700px;
        left: 50px;
        z-index: 999;
    }

    .main .navbar header .hover:hover .div3 i {
        font-size: 20px;
    }

    .main .navbar header .hover:hover .div3 i:hover {
        color: #ffb606;
    }


    .main .library .blur .div4 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        color: white;
        font-size: 15px;
    }

    .main .library .blur .div4 p {
        display: none;
    }

    .main .library .blur .div4 h1 a {
        text-decoration: none;
        color: white;
        background-color: #ffb606;
        padding: 5px;
    }

    .main .library .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
    }

    .main .library .container .div5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .main .library .container .div5 .box1 {
        width: 95%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .main .library .container .div5 .box2 {
        width: 95%;
        background-color: black;
        color: white;
        padding: 40px 60px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .main .library .container .div5 .box3 {
        width: 95%;
        background-color: black;
        color: white;
        padding: 40px 60px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .main .library .container .box1:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box1:hover i {
        color: white;
    }

    .main .library .container .box2:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box2:hover i {
        color: white;
    }

    .main .library .container .box3:hover {
        background-color: #ffb606;
        cursor: pointer;
    }

    .main .library .container .box3:hover i {
        color: white;
    }

    .main .courses .div10 .box1 {
        width: 95%;
        background-color: #e8ebec;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 100px;
    }
}