* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .navbar header {
  width: 96%;
  position: fixed;
  background-color: white;
  top: 50px;
}

.main .navbar header .hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2px 34px 11px rgba(34, 60, 80, 0.2);
}

.main .navbar header .hover .div {
  padding: 20px 70px;
  display: flex;
  width: 80%;
  align-items: center;
  column-gap: 100px;
}

.main .navbar header .hover .div1 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main .navbar header .hover ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

.main .navbar header .hover ul li a:hover {
  color: #ffb606;
}

.main .navbar header .hover ul li a {
  text-decoration: none;
  color: black;
}

.main .navbar header .hover .div2 {
  background: #ffb606;
  width: 20%;
  height: 83px;
  display: flex;
  column-gap: 20px;
  color: white;
  align-items: center;
  justify-content: center;
}

.main .navbar header .hover i {
  display: none;
}

.main .navbar header .hover .div3 {
  display: none;
}

.main .news {
  background: url("./img/bookroomnews.jpg");
  background-size: cover;
  height: 50vh;
}

.main .news .blur {
  background-color: #00000050;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  width: 100%;
}

.main .news .blur h1 {
  background-color: #ffb606;
  color: white;
  font-size: 60px;
}

.main .container {
  padding: 113px 150px;
  display: flex;
}

.main .container .right {
  width: 40%;
  height: 100%;
  padding: 0px 15px;
}

.main .container .right h4 {
  margin-bottom: 30px;
}

.main .container .right .div {
  margin-bottom: 50px;
}

.main .container .right .div p {
  color: #888;
  border-bottom: 1px solid #888;
  padding: 5px;
  margin-bottom: 10px;
}

.main .container .right .div p:hover {
  color: #ffb606;
  cursor: pointer;
}

.main .container .right .div1 img {
  width: 100%;
  margin-bottom: 10px;
}

.main .container .right .div2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

.main .container .right .div2 h3:hover {
  color: #888;
  cursor: pointer;
}

.main .container .right .div2 p {
  color: #888;
}

.main .container h4 {
  margin-bottom: 40px;
}

.main .container .tags {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main .container .tags .b1 {
  display: flex;
  column-gap: 10px;
}

.main .container .tags .b1 button {
  padding: 10px 20px;
  background-color: #ffb606;
  border: 1px solid #ffb606;
  cursor: pointer;
  color: white;
}

.main .container .left {
  width: 60%;
  height: 100%;
}

.main .container .left img {
  width: 100%;
  margin-bottom: 40px;
}

.main .container .left .div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  column-gap: 30px;
}

.main .container .left .div .div1 {
  width: 50px;
  height: 50px;
  background-color: #ffb606;
  border: 1px solid #ffb606;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main .container .left .div b {
  font-size: 20px;
}

.main .container .left .div p {
  font-size: 10px;
}

.main .container .left .div2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main .container .left .div2 h1:hover {
  color: #888;
  cursor: pointer;
}

.main .container .left .div2 h6:hover {
  color: #888;
  cursor: pointer;
}

.main .container .left .div3 {
  width: 100%;
  margin-bottom: 20px;
}

.main .container .left .div3 p {
  color: #888;
  width: 100%;
  font-size: 15px;
}

.main .container .left .orange {
  background-color: #ffb606;
  color: white;
  padding: 15px 50px;
  border: 1px solid #ffb606;
  margin-bottom: 50px;
}

.main .container .left .orange:hover {
  box-shadow: 4px 25px 31px 0px rgba(34, 60, 80, 0.2);
}

.main .container .left .d1 {
  display: flex;
  column-gap: 10px;
}

.main .container .left .d1 .r1 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb606;
  color: white;
  cursor: pointer;
}

.main .container .left .d1 .r2 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
  color: white;
  cursor: pointer;
}

.main .container .left .d1 .r2:hover {
  background-color: #ffb606;
}

@media (max-width: 768px) {
  .main .navbar header .hover:hover ul {
    height: 100%;
    display: block;
    position: fixed;
    left: 400px;
    top: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
    width: 50%;
    z-index: 999;
    background-color: white;
  }

  .main .navbar header .hover:hover ul a {
    margin-left: 50px;
  }

  .main .navbar header .hover ul {
    display: none;
  }

  .main .navbar header .hover .div {
    padding: 20px 70px;
    display: flex;
    width: 80%;
    align-items: center;
    column-gap: 100px;
  }

  .main .navbar header .hover .div2 {
    display: none;
  }

  .main .navbar header .hover i {
    display: inline;
    font-size: 25px;
    margin-right: 30px;
  }

  .main .navbar header .hover:hover .div3 {
    display: inline;
    position: fixed;
    top: 700px;
    left: 450px;
    z-index: 999;
  }

  .main .navbar header .hover:hover .div3 i {
    font-size: 20px;
  }

  .main .navbar header .hover:hover .div3 i:hover {
    color: #ffb606;
  }

  .main .news {
    margin-bottom: 100px;
  }

  .main .container {
    flex-direction: column;
    display: flex;
    row-gap: 50px;
    padding: 0px 10px;
  }

  .main .container .right {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
  }

  .main .container .left {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 468px) {
  .main .navbar header .hover:hover ul {
    height: 100%;
    display: block;
    position: fixed;
    left: 1px;
    top: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 1px -1px 58px 0px rgba(34, 60, 80, 0.2);
    width: 100%;
    z-index: 999;
    background-color: white;
  }

  .main .navbar header .hover:hover ul a {
    margin-left: 50px;
  }

  .main .navbar header .hover ul {
    display: none;
  }

  .main .navbar header .hover .div {
    padding: 20px 40px;
    display: flex;
    width: 80%;
    align-items: center;
    column-gap: 100px;
  }

  .main .navbar header .hover .div2 {
    display: none;
  }

  .main .navbar header .hover i {
    display: inline;
    font-size: 25px;
    margin-right: 30px;
  }

  .main .navbar header .hover:hover .div3 {
    display: inline;
    position: fixed;
    top: 700px;
    left: 50px;
    z-index: 999;
  }

  .main .navbar header .hover:hover .div3 i {
    font-size: 20px;
  }

  .main .navbar header .hover:hover .div3 i:hover {
    color: #ffb606;
  }

  .main .news .blur {
    background-color: #00000050;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    width: 100%;
    margin-bottom: 50px;
  }

  .main .news .blur h1 {
    background-color: #ffb606;
    color: white;
    font-size: 40px;
  }

  .main .container .left .div2 h1 {
    width: 100%;
    font-size: 21px;
  }
}
